<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/signup.css" type="text/css">
</head>
<body>
    <header>
        <div class="logo"><img src="/images/logo.png" alt="logo"></div>
    </header>
        <div class="join_wrap"> 
            <div class="joinform">Join</div>
            <div class="id">
               <input type="text" placeholder="아이디">
            </div>
            <div class="pw">
               <input type="text" placeholder="패스워드">
            </div>
            <div class="pwcheck">
               <input type="text" placeholder="패스워드 확인">
            </div>
            <div><button class="pwsee" type="submit" >비밀번호 보이기</button></div>
        </div><br><br><br>
        
        <div class="name">
           <input type="text" placeholder="이름">
        </div>
        <div class="age">
           <input type="text" placeholder="나이">
        </div>
        <div class="sex">
           <input type="text" placeholder="성별">
        </div>
        <div><button class="join_button" type="submit">가입하기</button></div>
        <div><button class="back_home" type="submit">뒤로가기</button></div>
        <br><br><br><br>
        <div class="OR"><span>OR</span></div>
        <div class="sns">
            <span>
               <a href="google_login.html">
                  <img src="/images/google.png" alt="GOOGLE">
               </a>
            </span>
            <span>
               <a href="kakao_login.html">
                  <img src="/images/KAKAO.png" alt="KAKAOTALK">
               </a>
            </span>
            <span>
               <a href="naver_login.html"> 
                  <img src="/images/NAVER.png" alt="NAVER">
               </a>
            </span>
        </div>
    

</body>
</html>