@charset "utf-8";

.top{
    float:left;
    width: 100%;
    height: 30%;
    background-color:#ccc;
    margin:0;
    padding:0;
}

#logo{
    float:left;
    color:red;
}

#corp{
    float:left;
    font-size:35px;
    margin-left: 30%;
    margin-top: 1.5%;
    padding:0;
}